[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
wtforms = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
flask-login = "*"
bs4 = "*"
flask-wtf = "*"
gunicorn = "*"
lxml = "*"
bootstrap-flask = "*"
flask-migrate = "*"
wtforms-validators = "*"
email-validator = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
