{% extends "base.html" %}

{% block title %}
Home | The Price Is Now Right
{% endblock %}

{% block head %}
{{super()}}
{% block favicon %}
<link href="../static/favicon.ico" rel="icon" type="image/x-icon" />
{% endblock %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
<link href="https://fonts.googleapis.com/css?family=Cabin:700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
{{super()}}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">The Price Is Now Right</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if current_user.is_anonymous %}
      <ul class="navbar-nav ml-auto">                
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.login') }}">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.signup') }}">Sign Up</a></li> 
      </ul>
    {% endif %}
    {% if current_user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.wishlist') }}">Wishlist</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.logout') }}">Log Out</a></li>
      </ul>
    {% endif %}  
  </div>
</nav>

<br><br><br><br>
<div class="container-fluid">
  <div class="container-fluid col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <h3 class="describe">Never miss a discount on things you want!</h3>
    <br>
    <a class="start" 
      {% if current_user.is_anonymous %}
      href="{{ url_for('main.login') }}"
      {% else %}
      href="{{ url_for('main.dashboard') }}"
      {% endif %}>
      <button class="startbutton btn btn-lg btn-primary">Start Tracking</button>
    </a>
  </div>
</div>

{%- block footer %}
<footer>
	<span class="container-fluid">
		<h4 class="ebay text-center"><a href="https://www.ebay.ca/" target="_blank">Search for products on eBay</a></h4>
  </span>
</footer>
{%- endblock footer %}
{% endblock %}
