body {
    padding-top: 50px;
    background: url("tracker.png") no-repeat center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Cabin;
    font-size: 20px;
     
  
}
.startbutton {
    margin: auto;
    display: block;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  .describe {font-size:1.5rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .describe {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .describe {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .describe {font-size:3rem;} /*1rem = 16px*/    
}

.describe {
    color: white;    
    text-align: center;
}

.start {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
    font-size: 30px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;    
    position: absolute;
    bottom: 0;
    width: 100%;  
    
}

.ebay {    
    font-size: 20px;
}

.ebay a {
    color: #d5d5d5;
}




  