{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block title %}
Dashboard | The Price is Now Right
{% endblock %}

{% block head %}
{{super()}}
{% block favicon %}
<link href="../static/favicon.ico" rel="icon" type="image/x-icon" />
{% endblock %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
<link href="https://fonts.googleapis.com/css?family=Cabin:700&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">The Price Is Now Right</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('wishlist') }}">Wishlist</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
    </ul>
  </div>
</nav>

<br>

<!-- form for price tracking-->
<div class="container-fluid text-center">
    <form class="form-track" method="POST" onsubmit="change()" method="POST" action="/dashboard">
        {{ form.csrf_token() }}  <!--cross site request forgery token for flask-wtf-->
        {{ render_field(form.url) }} <!--getting info from form fields-->
        {{ render_field(form.userBudget) }}
        <button class="btn btn-primary btn-lg" type="submit" id="enter">Start Price Tracking!</button>
    </form>
    <br>
    <img class="tracker" src="../static/tracker.gif">
</div>

{%- block footer %}

{%- endblock footer %}

<script>
    function change() {
        alert("Price Tracking...\nYou will receive an email once the price goes down!");
    }
</script>

</div>

{% endblock %}