{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login | The Price Is Now Right
{% endblock %}

{% block head %}
{{super()}}
{% block favicon %}
<link href="../static/favicon.ico" rel="icon" type="image/x-icon" />
{% endblock %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link href="https://fonts.googleapis.com/css?family=Cabin:700&display=swap" rel="stylesheet"> 
{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo navbar-brand" href="{{ url_for('index') }}">The Price is Now Right</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li class="active"><a href="#">Login</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid">

  <form class="form-signin" method="POST" action="/login">
    <h2 class="form-signin-heading text-center">Log In</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.remember) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>

</div>

{%- block footer %}
<footer>
	<span class="container-fluid">
		<h4 class="created text-center">Developed with Flask, a Python MicroFramework</h4>        
  </span>
</footer>
{%- endblock footer %}
{% endblock %}